<h1 mat-dialog-title> Nuevo Expediente{{data.noExpediente}}</h1>
<div mat-dialog-content>

  <div class="row">
    <div class="col-sm-4">
    <p>No. Expediente</p>
    <mat-form-field appearance="fill" class="tamaño margin">
      <mat-label>No Expediente</mat-label>
      <input matInput [(ngModel)]="data.noExpediente">
    </mat-form-field>
  </div>

   <br>

   <div class="col-sm-4">
   <p>Tipo de Recurso</p>
    <mat-form-field appearance="fill" class="tamaño margin">
      <mat-label>Tipo de Recurso</mat-label>
      <mat-select [(ngModel)]="data.tipoRecurso" name="fill">
        <mat-option *ngFor="let recurso of recursos" [value]="recurso.value">
          {{recurso.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
   </div>

   <div class="col-sm-4">
    <p>Nombre del Contribuyente</p>
    <mat-form-field appearance="fill" class="tamaño margin">
      <mat-label>nombre</mat-label>
      <input matInput [(ngModel)]="data.nombre">
    </mat-form-field>
   </div>

   <div class="col-sm-4">
    <p>NIT del Contribuyente</p>
    <mat-form-field appearance="fill" class="tamaño margin">
      <mat-label>nit</mat-label>
      <input matInput [(ngModel)]="data.nit">
    </mat-form-field>
  </div>

  <div class="col-sm-4">
    <p>Gerencia Origen</p>
    <mat-form-field appearance="fill" class="tamaño margin">
      <mat-label>gerencia</mat-label>
      <input matInput [(ngModel)]="data.gerenciaOrigen">
    </mat-form-field>
  </div>

  <div class="col-sm-4">
    <p>Folios</p>
    <mat-form-field appearance="fill" class="tamaño margin">
      <mat-label>folios</mat-label>
      <input matInput [(ngModel)]="data.folios">
    </mat-form-field>
  </div>

  <div class="col-sm-4">
    <p>Resolucion</p>
    <mat-form-field appearance="fill" class="tamaño margin">
      <mat-label>resolucion</mat-label>
      <input matInput [(ngModel)]="data.resolucion">
    </mat-form-field>
  </div>

  <div class="col-sm-4">
    <p>Direccion</p>
    <mat-form-field appearance="fill" class="tamaño margin">
      <mat-label>direccion</mat-label>
      <input matInput [(ngModel)]="data.direccion">
    </mat-form-field>
  </div>

  <div class="col-sm-4">
    <p>Ajuses</p>
    <mat-form-field appearance="fill" class="tamaño margin">
      <mat-label>Ajustes</mat-label>
      <input matInput [(ngModel)]="data.ajustes">
    </mat-form-field>
  </div>
  </div>


  <mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">
      <mat-icon>close</mat-icon>Cancelar
    </button>
    <button mat-button [mat-dialog-close]="data.noExpediente" cdkFocusInitial>
      <mat-icon>save</mat-icon>Guardar
    </button>
    <button mat-button (click)="onNoClick()">
      <mat-icon>report_problem</mat-icon>Rechazar
    </button>
  </mat-dialog-actions>
