<h1 mat-dialog-title> Nuevo Expediente</h1>
<div mat-dialog-content>

 <form [formGroup]="crearExp" class="crearExpediente">
  <div class="row">


<!--       <div class="col-sm-4"*ngIf="rechazo">
        </div>
        <div class="col-sm-4"*ngIf="rechazo">
        </div> -->

    <div class="col-sm-4">
    <p>No. Expediente</p>
    <mat-form-field appearance="fill" class="tamaño">
      <mat-label>No Expediente</mat-label>
      <input matInput formControlName="noExpediente">
    </mat-form-field>
  </div>

   <br>

   <div class="col-sm-4">
   <p>Tipo de Recurso</p>
    <mat-form-field appearance="fill" class="tamaño">
      <mat-label>Tipo de Recurso</mat-label>
      <mat-select formControlName="tipoRecurso" name="fill">
        <mat-option *ngFor="let recurso of recursos" [value]="recurso.codigo">
          {{recurso.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
   </div>

   <div class="col-sm-4">
    <p>Nombre del Contribuyente</p>
    <mat-form-field appearance="fill" class="tamaño">
      <mat-label>nombre</mat-label>
      <input matInput formControlName="nombre">
    </mat-form-field>
   </div>

   <div class="col-sm-4">
    <p>NIT del Contribuyente</p>
    <mat-form-field appearance="fill" class="tamaño">
      <mat-label>nit</mat-label>
      <input matInput formControlName="nitContribuyente">
    </mat-form-field>
  </div>

  <div class="col-sm-4">
    <p>Gerencia Origen</p>
     <mat-form-field appearance="fill" class="tamaño">
       <mat-label>Gerencia Origen</mat-label>
       <mat-select formControlName="idGerenciaOrigen" name="fill">
         <mat-option *ngFor="let recurso of management" [value]="recurso.codigo">
           {{recurso.nombre}}
         </mat-option>
       </mat-select>
     </mat-form-field>
    </div>

<!--   <div class="col-sm-4">
    <p>Gerencia Origen</p>
    <mat-select (selectionChange)="saveManagement($event)" name="fill" >
      <mat-option *ngFor="let recurso of management" [value]="recurso.codigo" [id]="recurso.nombre">
        {{recurso.nombre}}
      </mat-option>
    </mat-select>
  </div> -->

  <div class="col-sm-4">
    <p>Folios</p>
    <mat-form-field appearance="fill" class="tamaño">
      <mat-label>folios</mat-label>
      <input matInput formControlName="folios" type="number">
    </mat-form-field>
  </div>

  <div class="col-sm-4">
    <p>Resolucion</p>
    <mat-form-field appearance="fill" class="tamaño">
      <mat-label>resolucion</mat-label>
      <input matInput formControlName="recurso">
    </mat-form-field>
  </div>

  <div class="col-sm-4">
    <p>Direccion</p>
    <mat-form-field appearance="fill" class="tamaño">
      <mat-label>direccion</mat-label>
      <input matInput formControlName="direccionFiscal">
    </mat-form-field>
  </div>

  <div class="col-sm-4">
    <p>Ajuses</p>
    <mat-form-field appearance="fill" class="tamaño">
      <mat-label>Ajustes</mat-label>
      <input matInput formControlName="cantidadAjustes" type="number">
    </mat-form-field>
  </div>
  </div>
  <div *ngIf="rechazo">
    <p>Tipo de Recurso</p>
     <mat-form-field appearance="fill" class="Observation">
       <mat-label>Tipo de Recurso</mat-label>
       <mat-select formControlName="tipoRecurso" name="fill">
         <mat-option *ngFor="let recurso of observation" [value]="recurso.codigo">
           {{recurso.nombre}}
         </mat-option>
       </mat-select>
     </mat-form-field>
    </div>
  <mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">
      <mat-icon>close</mat-icon>Cancelar
    </button>
    <button mat-button  cdkFocusInitial (click)="createExpedient()">
      <mat-icon>save</mat-icon>Guardar
    </button>
    <button mat-button (click)="showObservation()">
      <mat-icon>report_problem</mat-icon>Rechazar
    </button>
  </mat-dialog-actions>
 </form>



