.tamaño {
    width: 300px;
    height: auto;
  }
  
  .crearExpediente{
    height: 200px;
    width: 750px;
    margin: 15px;
  }

  
  /* .row{
    margin: auto;
    padding: auto;
  } */
  
  .readonly-wrapper {
  cursor: not-allowed;
  }
  
  .readonly-wrapper .readonly-block {
  pointer-events: none;
  }
  