<div class="my-2 my-sm-3 my-md-4 my-lg-5 mx-2 mx-sm-3 mx-md-4 mx-lg-5">
  <mat-card-title class="mt-2 main-title">Expedientes Asignados</mat-card-title>
  <div><br>
    <mat-card>
      <ng-container *ngIf="!mostrarTablaPadre">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="noexpedientetributa">
            <th mat-header-cell *matHeaderCellDef> No. Expediente TRIBUTA </th>
            <td mat-cell *matCellDef="let element"> {{ element.no_expediente_tributa }}</td>
          </ng-container>

          <ng-container matColumnDef="nombrecontribuyente">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{ element.nombre }} </td>
          </ng-container>

          <ng-container matColumnDef="nit">
            <th mat-header-cell *matHeaderCellDef> NIT </th>
            <td mat-cell *matCellDef="let element"> {{ element.nit_contribuyente }} </td>
          </ng-container>

          <ng-container matColumnDef="fechaingreso">
            <th mat-header-cell *matHeaderCellDef> Fecha Ingreso </th>
            <td mat-cell *matCellDef="let element"> {{ element.fecha_ingreso }} </td>
          </ng-container>

          <ng-container matColumnDef="Tiempopreinscripcion">
            <th mat-header-cell *matHeaderCellDef> Fecha Preinscripcion</th>
            <td mat-cell *matCellDef="let element"> {{ element.fecha_ingreso | date: 'dd/MM/yyyy' }} </td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element"> {{ element.estado }} </td>
          </ng-container>

          <ng-container matColumnDef="profecional">
            <th mat-header-cell *matHeaderCellDef> Profesional </th>
            <td mat-cell *matCellDef="let element"> {{ element.profesional }} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef class="header-table"></th>
            <td mat-cell class="centrar" *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Acciones">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item type="button" title="request" color="primary" (click)="expedient(element.no_expediente_tributa)">
                  <mat-icon class="iconos">request</mat-icon>
                  <span> Ver Detalle </span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #MatPaginator1="matPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </ng-container>

      <!--Datos a revisar por Profesional-->

      <ng-container *ngIf="mostrarTablaPadre">
        <div class="row">
          <div class="col-sm-6">
            <mat-card-actions>
              No. Expediente
            </mat-card-actions>
            <mat-card-actions>
              {{file.no_expediente}}
            </mat-card-actions>
            <!-- <mat-form-field appearance="fill" class="tamaño margin">
              <input matInput [(ngModel)]="file.no_expediente" [disabled]="true">
            </mat-form-field> -->
          </div>

          <div class="col-sm-6">
            <mat-card-actions>
              Nombre de Contribuyente
            </mat-card-actions>
            <input matInput>
          </div>
          <div class="col-sm-6">
            <mat-card-actions>
              NIT
            </mat-card-actions>
            <mat-form-field appearance="fill" class="tamaño margin">
              <input matInput [(ngModel)]="file.nit_contribuyente" [disabled]="true">
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-card-actions>
              Fecha de Ingreso
            </mat-card-actions>
            <mat-form-field appearance="fill" class="tamaño margin">
              <input matInput [(ngModel)]="file.fecha_ingreso" [disabled]="true">
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-card-actions>
              Gerencia de Origen
            </mat-card-actions>
            <mat-form-field appearance="fill" class="tamaño margin">
              <input matInput [(ngModel)]="file.gerencia_origen" [disabled]="true">
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-card-actions>
              Folios
            </mat-card-actions>
            <mat-form-field appearance="fill" class="tamaño margin">
              <input matInput type="number" [(ngModel)]="file.folios">
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-card-actions>
              Observaciones
            </mat-card-actions>
            <mat-form-field appearance="fill" class="tamaño margin">
              <input matInput [(ngModel)]="file.observacion" [disabled]="true">
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-card-actions>
              No. Expediente TRIBUTA
            </mat-card-actions>
            <mat-form-field appearance="fill" class="tamaño margin">
              <input matInput [(ngModel)]="file.no_expediente_tributa" [disabled]="true">
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-card-actions>
              Recurso
            </mat-card-actions>
            <mat-form-field appearance="fill" class="tamaño margin">
              <input matInput [(ngModel)]="file.recurso" [disabled]="true">
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-card-actions>
              Direccion
            </mat-card-actions>
            <mat-form-field appearance="fill" class="tamaño margin">
              <input matInput [(ngModel)]="file.direccion_fiscal" [disabled]="true">
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-card-actions>
              Cantidad de Ajustes
            </mat-card-actions>
            <mat-form-field appearance="fill" class="tamaño margin">
              <input matInput type="number" [(ngModel)]="file.cantidad_ajustes">
            </mat-form-field >
          </div>


          <div class="col-sm-6">
            <mat-card-actions>
              Impuestos a Pagar
            </mat-card-actions>
            <mat-form-field appearance="fill" class="tamaño margin">
              <input matInput [(ngModel)]="file.impuesto" [disabled]="true">
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-card-actions>
              Tipo de Caso
            </mat-card-actions>
            <mat-form-field appearance="fill" class="tamaño margin">
              <input matInput [(ngModel)]="file.tipo_caso" [disabled]="true">
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-card-actions>
              SubTipo de Caso
            </mat-card-actions>
            <mat-form-field appearance="fill" class="tamaño margin">
              <input matInput [(ngModel)]="file.subTipo_caso" [disabled]="true">
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-card-actions>
              Fecha de Interposicion
            </mat-card-actions>
            <mat-form-field appearance="fill" class="tamaño margin">
              <input matInput [(ngModel)]="file.fecha_interposicion" [disabled]="true">
            </mat-form-field>
          </div>

          <mat-dialog-actions align="end">
            <button mat-button type="button" class="btn-container mt-3 mb-2" color="primary" (click)="newComent()">
              <mat-icon>add</mat-icon>
              Crear Providencia
            </button>
            <button mat-button type="button" class="btn-container mt-3 mb-2" color="primary" (click)="setStateSupervisorReview()">
              <mat-icon>backup</mat-icon>
              Carga de Proyecto de Resolución
            </button>
            <button mat-button type="button" class="btn-container mt-3 mb-2" color="primary" (click)="viewInformation()">
              <mat-icon>close</mat-icon>
              Regresar
            </button>
          </mat-dialog-actions>
        </div>
      </ng-container>

    </mat-card>
  </div>
</div>
