.centrar{
    text-align: center;
    justify-content: center;
    align-content: center;
  }

/*   table {
    width: 100%;
  } */

  #input{
    color: black;
  }

  .tamaño {
    width: 350px;
  }

.margin{
  margin-top: 5px;
}