<div class="my-2 my-sm-3 my-md-4 my-lg-5 mx-2 mx-sm-3 mx-md-4 mx-lg-5">
    <mat-card-title class="mt-2 main-title">Centralizador de Entrada</mat-card-title>
    <div ngIf="mostrarTablaPadre"><br>
        <mat-card>
            
            <ng-container>
                <table mat-table >
                    <!-- Name Column -->
                    <ng-container matColumnDef="NoExpediente">
                        <th mat-header-cellmatHeaderCellDef> No. Expediente </th>
                        <td mat-cell matCellDef="let element"></td>
                    </ng-container>
                    <!-- Weight Column -->
                    <ng-container matColumnDef="tiporecurso">
                        <th mat-header-cellmatHeaderCellDef> Tipo de Recurso </th>
                        <td mat-cell matCellDef="let element"> </td>
                    </ng-container>
                    <ng-container matColumnDef="nombrecontribuyente">
                      <th mat-header-cellmatHeaderCellDef> Nombre Contribuyente </th>
                      <td mat-cell matCellDef="let element"> </td>
                    </ng-container>
                    <ng-container matColumnDef="nit">
                      <th mat-header-cellmatHeaderCellDef> NIT </th>
                      <td mat-cell matCellDef="let element"> </td>
                  </ng-container>                  
                  <ng-container matColumnDef="fechatributa">
                      <th mat-header-cellmatHeaderCellDef> Fecha Ingreso Tributa </th>
                      <td mat-cell matCellDef="let element"> </td>
                  </ng-container>
                  <ng-container matColumnDef="gerenciaorigen">
                      <th mat-header-cellmatHeaderCellDef> Gerencia Origen </th>
                      <td mat-cell matCellDef="let element"> </td>
                  </ng-container>
                  <ng-container matColumnDef="folios">
                      <th mat-header-cellmatHeaderCellDef> Folios </th>
                      <td mat-cell matCellDef="let element"> </td>
                  </ng-container>       
                  <ng-container matColumnDef="observaciones">
                      <th mat-header-cellmatHeaderCellDef> Observaciones </th>
                      <td mat-cell matCellDef="let element"> </td>
                  </ng-container>       
                  <ng-container matColumnDef="noexpedientetributa">
                      <th mat-header-cellmatHeaderCellDef> No. Expediente Tributa </th>
                      <td mat-cell matCellDef="let element"> </td>
                  </ng-container>       
                  <ng-container matColumnDef="resolucion">
                      <th mat-header-cellmatHeaderCellDef> Recurso(Resolución) </th>
                      <td mat-cell matCellDef="let element"> </td>
                  </ng-container>       
                  <ng-container matColumnDef="direccionfiscal">
                      <th mat-header-cellmatHeaderCellDef> Dirección Fiscal </th>
                      <td mat-cell matCellDef="let element"> </td>
                  </ng-container>               
                  <ng-container matColumnDef="cantidadajustes">
                      <th mat-header-cellmatHeaderCellDef> Cantidad Ajustes </th>
                      <td mat-cell matCellDef="let element"> </td>
                  </ng-container>                                                                                                                                                                            
                    <tr mat-header-rowmatHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </ng-container>
        </mat-card>
    </div>
  </div>