<div class="my-2 my-sm-3 my-md-4 my-lg-5 mx-2 mx-sm-3 mx-md-4 mx-lg-5">
    <mat-card-title class="main-title">Administración de colaboradores</mat-card-title>
  
    <br><br>
  
    <mat-card>
      <form>
        <mat-form-field appearance="standard">
          <mat-label>Filtro</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="">
        </mat-form-field>
  
        <button mat-button type="button" class="btn-container mt-3 mb-2" color="primary" (click)="showDialog()">
          <mat-icon>add</mat-icon>
          Agregar colaborador
        </button>
        <div>
          <table mat-table [dataSource]="collaboratorTable" matSort>
            <!-- Position Column -->
            <ng-container matColumnDef="nit">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>NIT</th>
              <td mat-cell class="centrar" *matCellDef="let element"> {{element.nit}} </td>
            </ng-container>
  
            <!-- Name Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
              <td mat-cell class="centrar" *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
  
            <!-- Name Column -->
            <ng-container matColumnDef="tipo_tributa">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Tribunal</th>
              <td mat-cell class="centrar" *matCellDef="let element"> {{element.tipo_tributa}} </td>
            </ng-container>
  
            <!-- Name Column -->
            <ng-container matColumnDef="puesto">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Puesto</th>
              <td mat-cell class="centrar" *matCellDef="let element"> {{element.puesto}} </td>
            </ng-container>
  
            <!-- Name Column -->
            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
              <td mat-cell class="centrar" *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="correo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
              <td mat-cell class="centrar" *matCellDef="let element"> {{element.correo}} </td>
            </ng-container>            

            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef class="header-table"></th>
              <td mat-cell class="centrar" *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Acciones">
                  <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item type="button" title="Reasignar" color="primary"
                  (click)="showDialog(element)" >
                    <mat-icon class="iconos">edit</mat-icon>
                    <span>Modificar colaborador</span>
                  </button>
                  <button mat-menu-item type="button" title="actualizarPuesto" color="warn"
                    >
                    <mat-icon class="iconos">update</mat-icon>
                    <span>Actualizar información</span>
                  </button>
                  <button mat-menu-item type="button" title="Eliminar" color="warn"
                    >
                    <mat-icon class="iconos">delete</mat-icon>
                    <span>Remover colaborador</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
  