<h1 mat-dialog-title> Nuevo Prestamoo{{data.usuario}}</h1>
<div mat-dialog-content>

  <p>Usuario</p>
  <mat-form-field appearance="fill">
    <mat-label>Usuario</mat-label>
    <input matInput [(ngModel)]="data.usuario">
  </mat-form-field>

  <p>Gerencia</p>
  <mat-form-field appearance="fill">
    <mat-label>gerencia</mat-label>
    <input matInput [(ngModel)]="data.gerencia">
  </mat-form-field>

  <p>Departamento</p>
  <mat-form-field appearance="fill">
    <mat-label>Departamento</mat-label>
    <input matInput [(ngModel)]="data.departamento">
  </mat-form-field>

  <p>Comentario</p>
  <mat-form-field appearance="fill">
    <mat-label>Comentario</mat-label>
    <textarea cols="100" rows="3" matInput [(ngModel)]="data.comentarios"></textarea>
  </mat-form-field>

  <div id="box2">
    <button id="selectButton" mat-raised-button (click)="fileInput.click()">Seleccione Archivo</button>
    <input #fileInput type="file" hidden multiple />
    <span></span>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">
      <mat-icon>close</mat-icon>Cancelar
    </button>
    <button mat-button [mat-dialog-close]="data.noExpedienteTributa" cdkFocusInitial>
      <mat-icon>save</mat-icon>Guardar
    </button>
  </div>
