.tamaño {
  width: auto;
  height: auto;
}

.crearExpediente{
  height: 380px;
  width: 750px;
}

.readonly-wrapper {
cursor: not-allowed;
}

.readonly-wrapper .readonly-block {
pointer-events: none;
}
