<div class="my-2 my-sm-3 my-md-4 my-lg-5 mx-2 mx-sm-3 mx-md-4 mx-lg-5">
  <mat-card-title class="mt-2 main-title">Expedientes Asignados</mat-card-title>
  <div><br>
    <mat-card>
      <ng-container *ngIf="!mostrarTablaPadre && !mostrarTablaAgenda && !mostrarTablaExpedientes">
        <mat-form-field appearance="standard">
          <mat-label>Filtro</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="">
        </mat-form-field>
        <button mat-button type="button" class="btn-container mt-3 mb-2" color="primary" (click)="showTable()">
          <mat-icon>add</mat-icon>
          Validar Ponencias
      </button>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="noexpedientetributa">
            <th mat-header-cell *matHeaderCellDef> No. Expediente TRIBUTA </th>
            <td mat-cell *matCellDef="let element"> {{ element.no_expediente_tributa }}</td>
          </ng-container>

          <ng-container matColumnDef="nombrecontribuyente">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{ element.nombre }} </td>
          </ng-container>

          <ng-container matColumnDef="nit">
            <th mat-header-cell *matHeaderCellDef> NIT </th>
            <td mat-cell *matCellDef="let element"> {{ element.nit_contribuyente }} </td>
          </ng-container>

          <ng-container matColumnDef="fechaingreso">
            <th mat-header-cell *matHeaderCellDef> Fecha Ingreso </th>
            <td mat-cell *matCellDef="let element"> {{ element.fecha_ingreso }} </td>
          </ng-container>

          <ng-container matColumnDef="Tiempopreinscripcion">
            <th mat-header-cell *matHeaderCellDef> Fecha Preinscripcion</th>
            <td mat-cell *matCellDef="let element"> {{ element.fecha_ingreso | date: 'dd/MM/yyyy' }} </td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element"> {{ element.estado }} </td>
          </ng-container>

          <ng-container matColumnDef="profecional">
            <th mat-header-cell *matHeaderCellDef> Profesional </th>
            <td mat-cell *matCellDef="let element"> {{ element.profesional }} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef class="header-table"></th>
            <td mat-cell class="centrar" *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Acciones">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item type="button" title="request" color="primary" (click)="getFile(element.no_expediente_tributa)">
                  <mat-icon class="iconos">request</mat-icon>
                  <span> Revisar Proyecto de Resolución </span>
                </button>
                <button mat-menu-item type="button" title="request" color="primary" (click)="setStatePendingDiary(element.no_expediente_tributa)">
                  <mat-icon class="iconos">request</mat-icon>
                  <span> Enviar para Agendar </span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #MatPaginator1="matPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>

      </ng-container>

      <!--Datos a revisar por Especialista-->

      <ng-container *ngIf="mostrarTablaPadre">
        <div class="col-sm-6">
          <mat-card-actions>
            Fecha de Interposicion
          </mat-card-actions>
          <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="picker" >
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <mat-dialog-actions align="end">
          <button mat-button type="button" class="btn-container mt-3 mb-2" color="primary" (click)="showInformation()">
            <mat-icon>check_circle_outline</mat-icon>
            Aprobar
          </button>
          <button mat-button type="button" class="btn-container mt-3 mb-2" color="primary" (click)="showInformation()">
            <mat-icon>report_problem</mat-icon>
            Rechazar
          </button>
          <button mat-button type="button" class="btn-container mt-3 mb-2" color="primary" (click)="showInformation()">
            <mat-icon>settings_backup_restore</mat-icon>
            Regresar
          </button>
        </mat-dialog-actions>

      </ng-container>

      <!--Muestra la tabla de agendas -->

      <ng-container *ngIf="mostrarTablaAgenda && !mostrarTablaExpedientes">
        <mat-form-field appearance="standard">
          <mat-label>Filtro</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="">
        </mat-form-field>

        <table mat-table [dataSource]="dataDiary" class="mat-elevation-z8">

          <ng-container matColumnDef="agenda">
            <th mat-header-cell *matHeaderCellDef> Id Agenda </th>
            <td mat-cell *matCellDef="let element"> {{ element.id_agenda }}</td>
          </ng-container>

          <ng-container matColumnDef="asunto">
            <th mat-header-cell *matHeaderCellDef> Asunto </th>
            <td mat-cell *matCellDef="let element"> {{ element.asunto_agenda }} </td>
          </ng-container>

          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha</th>
            <td mat-cell *matCellDef="let element"> {{ element.fecha_creacion | date: 'dd/MM/yyyy' }} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef class="header-table"></th>
            <td mat-cell class="centrar" *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Acciones">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item type="button" title="request" color="primary" (click)="diaryFile(element.id_agenda)">
                  <mat-icon class="iconos">request</mat-icon>
                  <span>Ver</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="diaryColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: diaryColumns;"></tr>
        </table>
        <mat-paginator #MatPaginator1="matPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
        <mat-dialog-actions align="end">
          <button mat-button type="button" class="btn-container mt-3 mb-2" color="primary" (click)="showTable()">
            <mat-icon>close</mat-icon>
            Regresar
          </button>
        </mat-dialog-actions>
      </ng-container>

      <!-- Muestra los Expedientes asignados a una agenda -->
      <ng-container *ngIf="mostrarTablaExpedientes">
        <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

          <ng-container matColumnDef="noexpedientetributa">
            <th mat-header-cell *matHeaderCellDef> No. Expediente TRIBUTA </th>
            <td mat-cell *matCellDef="let element"> {{ element.no_expediente_tributa }}</td>
          </ng-container>

          <ng-container matColumnDef="nombrecontribuyente">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{ element.nombre }} </td>
          </ng-container>

          <ng-container matColumnDef="nit">
            <th mat-header-cell *matHeaderCellDef> NIT </th>
            <td mat-cell *matCellDef="let element"> {{ element.nit_contribuyente }} </td>
          </ng-container>

          <ng-container matColumnDef="fechaingreso">
            <th mat-header-cell *matHeaderCellDef> Fecha Ingreso </th>
            <td mat-cell *matCellDef="let element"> {{ element.fecha_ingreso }} </td>
          </ng-container>

          <ng-container matColumnDef="Tiempopreinscripcion">
            <th mat-header-cell *matHeaderCellDef> Fecha Preinscripcion</th>
            <td mat-cell *matCellDef="let element"> {{ element.fecha_preincripcion }} </td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element"> {{ element.estado }} </td>
          </ng-container>

          <ng-container matColumnDef="profecional">
            <th mat-header-cell *matHeaderCellDef> Profesional </th>
            <td mat-cell *matCellDef="let element"> {{ element.profesional }} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef class="header-table"></th>
            <td mat-cell class="centrar" *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Acciones">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item type="button" title="request" color="primary" >
                  <mat-icon class="iconos">request</mat-icon>
                  <span> Ponencia Aceptada </span>
                </button>
                <button mat-menu-item type="button" title="request" color="primary" >
                  <mat-icon class="iconos">request</mat-icon>
                  <span> Ponencia Rechazada </span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>
        <mat-paginator #MatPaginator1="matPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
        <mat-dialog-actions align="end">
          <button mat-button type="button" class="btn-container mt-3 mb-2" color="primary" (click)="showExpedient()">
            <mat-icon>close</mat-icon>
            Regresar
          </button>
        </mat-dialog-actions>
      </ng-container>

    </mat-card>
  </div>
</div>
