.title {
  font-size: small;
  font-weight: bolder;
  color: #1933486b;
}

.text {
  font-size: 14px;
  color: #193348b4;
  font-weight: bold;
}

.login {
  font-size: 16px;
  font-weight: bolder;
  color: #1933486b;
}

.card-title {
  font-size: 16px;
  font-weight: bolder;
  color: #14649B;
}

.date {
  font-size: 16px;
  font-weight: bolder;
  color: #1933486b;
}

.parent {
  position: relative;
  height: 100%;

  .child-full {
    min-width: 40px;
    min-height: 40px;
    width: 95%;
    color: white;
    background-color: #14649B;
    border-radius: 10px;
    position: absolute;
    left: 2.5%;
    top: -20px;
    text-align: center;

    p {
      position: absolute;
      top: 25%;
      left: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  .child {
    min-width: 40px;
    min-height: 40px;
    color: white;
    background-color: #14649B;
    border-radius: 10px;
    position: absolute;
    left: 23px;
    top: -20px;
    text-align: center;

    mat-icon {
      font-size: 18px !important;
      position: absolute;
      top: 25%;
      left: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
}

.imagen {
  max-width: 100%;
  height: auto;
}

.mat-accordion {

  .mat-expansion-panel {
    border-radius: 14px;
    margin-bottom: 16px;
  }
}
