<div class="my-2 my-sm-3 my-md-4 my-lg-5 mx-2 mx-sm-3 mx-md-4 mx-lg-5">
  <mat-card-title class="main-title">Creación de Providencia de Salida</mat-card-title>

  <mat-card>
    <!--Tabla de Expedientes-->
    <ng-container #VistaExpedientes *ngIf="!mostrarTablaPadre">
      <mat-form-field appearance="standard">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="">
      </mat-form-field>
      
        <div class="btn-container mt-4 mb-6" >
          <p>Gerencia Origen</p>
          <mat-select  name="fill" >
            <mat-option >
             <p>Opcion 1</p>
             <p>Opcion 2</p>
            </mat-option>
          </mat-select>
        </div>
     
      
     
      <ng-container>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width:100%">
          <!-- Name Column -->
          <ng-container matColumnDef="nombrecontribuyente">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
          </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="nit">
            <th mat-header-cell *matHeaderCellDef> NIT </th>
            <td mat-cell *matCellDef="let element">{{element.nit_contribuyente}} </td>
          </ng-container>

          <ng-container matColumnDef="fechaingreso">
            <th mat-header-cell *matHeaderCellDef> Fecha Ingreso </th>
            <td mat-cell *matCellDef="let element">{{element.fecha_ingreso}} </td>
          </ng-container>
 
          <ng-container matColumnDef="noexpedientetributa">
            <th mat-header-cell *matHeaderCellDef> No Expediente Tributa </th>
            <td mat-cell *matCellDef="let element"> {{element.no_expediente_tributa}}</td>
          </ng-container>

          <ng-container matColumnDef="Tiempopreinscripcion">
            <th mat-header-cell *matHeaderCellDef> Fecha de Preinscripcion </th>
            <td mat-cell *matCellDef="let element">{{element.fecha_preincripcion}} </td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element">{{element.estado}} </td>
          </ng-container>

          <ng-container matColumnDef="profesional">
            <th mat-header-cell *matHeaderCellDef> Profesional </th>
            <td mat-cell *matCellDef="let element"> {{element.profesional}} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef class="header-table"></th>
            <td mat-cell class="centrar" *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Acciones">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item type="button" title="request" color="primary">
                  <mat-icon class="iconos">request</mat-icon>
                  <span> Adjuntar Cedula de Notificación </span>
                </button>
                <button mat-menu-item type="button" title="request" color="primary" >
                  <mat-icon class="iconos">request</mat-icon>
                  <span> Carga de Providencia de Salida </span>
                </button>
                <button mat-menu-item type="button" title="request" color="primary" >
                  <mat-icon class="iconos">request</mat-icon>
                  <span> Modificar Gerencia </span>
                </button>
              </mat-menu>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #MatPaginator1="matPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </ng-container>

      <div>
        <mat-dialog-actions align="end">
          <button mat-button (click)="returnData()" >
            <mat-icon>close</mat-icon>Cancelar
          </button>
          <button mat-button  cdkFocusInitial>
            <mat-icon>save</mat-icon>Guardar
          </button>
        </mat-dialog-actions>
      </div>
      
    </ng-container>

    
  </mat-card>

</div>
