<div class="my-2 my-sm-3 my-md-4 my-lg-5 mx-2 mx-sm-3 mx-md-4 mx-lg-5">
  <mat-card-title class="mt-2 main-title">Agendas</mat-card-title>
  <div><br>
    <mat-card>


      <ng-container #VistaAgendas *ngIf="!mostrarTablaPadre">
        <mat-form-field appearance="standard">
          <mat-label>Filtro</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="">
        </mat-form-field>
        
        <button mat-button type="button" class="btn-container mt-3 mb-2" color="primary" (click)="newFile()">
          <mat-icon>add</mat-icon>
          Crear Agenda
        </button>
        
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="agenda">
            <th mat-header-cell *matHeaderCellDef> Id Agenda </th>
            <td mat-cell *matCellDef="let element"> {{ element.id_agenda }}</td>
          </ng-container>

          <ng-container matColumnDef="asunto">
            <th mat-header-cell *matHeaderCellDef> Asunto </th>
            <td mat-cell *matCellDef="let element"> {{ element.asunto_agenda }} </td>
          </ng-container>

          <ng-container matColumnDef="monto">
            <th mat-header-cell *matHeaderCellDef> Monto </th>
            <td mat-cell *matCellDef="let element"> {{ element.monto }} </td>
          </ng-container>

          <ng-container matColumnDef="Fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha</th>
            <td mat-cell *matCellDef="let element"> {{ element.fecha_creacion | date: 'dd/MM/yyyy' }} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef class="header-table"></th>
            <td mat-cell class="centrar" *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Acciones">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item type="button" title="request" color="primary" (click)="showInformation ()">
                  <mat-icon class="iconos">request</mat-icon>
                  <span>Integrar Agenda</span>
                </button>
                <button mat-menu-item type="button" title="request" color="primary" (click)="showInformation2()"> 
                  <mat-icon class="iconos">request</mat-icon>
                  <span>Resolución</span>
                </button>
                <button mat-menu-item type="button" title="request" color="primary" (click)="newDiaryFiles()">
                  <mat-icon class="iconos">request</mat-icon>
                  <span>Generar Archivos de Agenda</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #MatPaginator1="matPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </ng-container>

      <!--Expediente "Pendiente agenda"-->
      <ng-container *ngIf="mostrarTablaPendiente">
        <mat-card-title class="mt-2 main-title">Integrar Agenda</mat-card-title>

        <mat-form-field appearance="standard">
          <mat-label>Filtro</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="">
        </mat-form-field>

        <button mat-button type="button" class="btn-container mt-3 mb-2" color="primary" (click)="showInformation()">
          <mat-icon>reply</mat-icon>
          Regresar
        </button>

        
        <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">


          <ng-container matColumnDef="noexpedientetributa">
            <th mat-header-cell *matHeaderCellDef> No. Expediente TRIBUTA </th>
            <td mat-cell *matCellDef="let element"> {{ element.no_expediente_tributa }}</td>
          </ng-container>

          <ng-container matColumnDef="nombrecontribuyente">
            <th mat-header-cell *matHeaderCellDef> Nombre Contribuyente</th>
            <td mat-cell *matCellDef="let element"> {{ element.nombre }} </td>
          </ng-container>

          <ng-container matColumnDef="nit">
            <th mat-header-cell *matHeaderCellDef> NIT </th>
            <td mat-cell *matCellDef="let element"> {{ element.nit_contribuyente }} </td>
          </ng-container>

          <ng-container matColumnDef="fechaingreso">
            <th mat-header-cell *matHeaderCellDef> Fecha Ingreso </th>
            <td mat-cell *matCellDef="let element"> {{ element.fecha_ingreso }} </td>
          </ng-container>

          <ng-container matColumnDef="Tiempopreinscripcion">
            <th mat-header-cell *matHeaderCellDef> Fecha Preinscripcion</th>
            <td mat-cell *matCellDef="let element"> {{ element.fecha_ingreso | date: 'dd/MM/yyyy' }} </td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element"> {{ element.estado }} </td>
          </ng-container>

          <ng-container matColumnDef="profesional">
            <th mat-header-cell *matHeaderCellDef> Profesional </th>
            <td mat-cell *matCellDef="let element"> {{ element.profesional }} </td>
          </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="header-table"></th>
          <td mat-cell class="centrar" *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Acciones">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item type="button" title="request" color="primary">
                <mat-icon class="iconos">request</mat-icon>
                <span>Agregar</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
      </table>
      <mat-paginator #MatPaginator1="matPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </ng-container>

    <!--Resolucion-->
    <app-resolucion-expediente (data)="retornoresolucion($event)" *ngIf="mostrarTablaResolucion"></app-resolucion-expediente>


    </mat-card>
  </div>
</div>
